[submodule "Ansible/Generator"]
	path = Ansible/Generator
	url = https://github.com/signal-k/sytizen
[submodule "PDFDataExtractor"]
	path = PDFDataExtractor
	url = https://github.com/Plikt/PDFDataExtractor.git
