[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moralis = "*"
flask = "*"
flask_cors = "*"
python-dotenv = "*"
matplotlib = "*"
lightkurve = "*"
nbformat = "*"
gunicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
thirdweb-sdk = "*"

[dev-packages]