[submodule "DataVis ARVR"]
	path = DataVis ARVR
	url = https://github.com/Call-For-Code/UnityStarterKit
[submodule "thirdweb-contracts/lib/forge-std"]
	path = thirdweb-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "container/lib/forge-std"]
	path = container/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "Server/client"]
	path = Server/client
	url = https://github.com/signal-k/client
