<!DOCTYPE html>
<html lang="en">
 <head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
  rel="stylesheet">
 </head>
 <title>Upload new File</title>
    <h1>Upload new File</h1>
    <form action="/" method=post enctype=multipart/form-data>
      <label for="file">Select a file:</label>
      <input type="file" name="file" id="file">
      <br>
      <label for="doi">Enter DOI:</label>
      <input type="text" name="doi" id="doi">
      <br>
      <input type="submit" value="Upload">

    </form>
    
    </form>
</html>